

<form [formGroup]="reactForm">

  <label >Dyanmic Form</label><br>


  <div formArrayName="fData">

    <div *ngFor="let form of reactForm.controls.fData.controls; let i = index" [formGroupName]="i">

      <label>Country Name </label>
      <input formControlName="countryName">
      <label>Country Code </label>
      <input type="text" formControlName="countryCode">
      <button *ngIf="i!=0" (click)="remove(i)">Remove</button>

    </div>

  </div>
  <br>
<button (click)="addCountry()">Add Country</button>
<button (click)="clearAllForm()">Clear</button>
<button type="submit" (click)="onSubmit(reactForm)">Submit</button>
</form>
<br><br>
